* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
  min-height: 150vh;
  background-image: url("images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.navbar {
  background: transparent !important;
  font-family: "Raleway", sans-serif;
}

h1,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/*Botón del header*/
.btn-lg {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.8rem;
  width: 50%;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  outline: none;
  border: none;
}

main {
  background: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
}

/*Sección 3*/
.features {
  line-height: 1.5rem;
}

/*link de sección 3*/
.link-s3 {
  color: hsl(176, 68%, 64%);
  text-decoration: underline;
}

.link-s3:hover {
  color: hsl(176, 68%, 64%);
  text-decoration: underline;
}

/*Sección 4*/
.card-deck {
  margin-bottom: 150px;
  background: url("images/bg-quotes.png") no-repeat;
  background-position: left/top;
  background-size: 70px;
}

.card-deck .card {
  background: hsl(219, 30%, 18%);
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-deck .card footer {
  background: hsl(219, 30%, 18%);
}

.card img {
  border-radius: 50px;
}

.card p {
  font-size: 0.9rem;
  padding: 1rem;
}

/*Sección suscripción*/
#suscribe {
  position: relative;
  padding: 3rem;
  text-align: center;
  background: hsl(217, 28%, 15%);
  border-radius: 10px;
  top: -100px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#suscribe input {
  border-radius: 25px;
  width: 65%;
}

#suscribe .btn {
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 0.7rem;
  font-weight: bold;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  outline: none;
  border: none;
}

footer {
  background: hsl(216, 53%, 9%);
}

.list-unstyled a {
  color: #ffffff;
  text-decoration: none;
}

/* Animación */

.jsScroll {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: 1s ease;
}

.jsScroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
